*{
  background-color: gray;
}

h1{
  font-size: 4em;
  text-align: center;
  background-color: aliceblue;
}

div.text{
  width: max-content;
  max-width: 50%;
}

h2 {
  font-size: 3.5vw;
  width: 50%;
  color: blanchedalmond;
  border-radius: 25px;
  height: fit-content;
}

img{
  max-width: 50%;
}

p{
  font-size: 1.2em;
}

li{
  font-size: 1.2em;
}